# --- Environnement virtuel ---
.venv/
venv/
env/
bin/
lib/
include/
pyvenv.cfg

# --- Docker ---
.docker/

# --- Secrets ---
.env
*.log

# --- Système ---
.DS_Store
Thumbs.db

# --- Données et Modèles ---
data/raw/
*.csv
