services:
  downloader:
    build:
      # Senior tip: Le contexte est le dossier du service, pas la racine du projet
      context: ./data_pipeline
      dockerfile: Dockerfile
    container_name: tep_pipeline
    volumes:
      - ./data:/app/data
    environment:
      # Chemins absolus à l'intérieur du conteneur
      - RAW_DATA_PATH=/app/data/raw/tep-csv
      - PROCESSED_DATA_PATH=/app/data/processed
    tty: true
    stdin_open: true
