name: TEP Machine Learning Pipeline

on:
  push:
    branches: [ main, master, api ]
  pull_request:
    branches: [ main ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          pip install pytest pandas numpy scikit-learn psutil

      - name: Run Unit Tests
        run: |
          # Cette ligne est la clé du succès local que tu viens d'avoir
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/ -v

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Kaggle API Credentials
      - name: Create Kaggle Config
        run: |
          mkdir -p ~/.kaggle
          echo '{"username":"${{ secrets.KAGGLE_USERNAME }}","key":"${{ secrets.KAGGLE_KEY }}"}' > ~/.kaggle/kaggle.json
          chmod 600 ~/.kaggle/kaggle.json

      - name: Build and Run Data Pipeline (Ingestion & Preprocessing)
        run: |
          docker compose up --build downloader

      - name: Run Model Training
        run: |
          docker compose up --build trainer

      - name: Run Performance Audit (Evaluation)
        run: |
          docker compose up --build evaluator

      # Optionnel : Afficher le rapport d'audit directement dans les logs GitHub
      - name: Display Audit Report
        run: |
          if [ -f data/models/audit_report.txt ]; then
            cat data/models/audit_report.txt
          else
            echo "Audit report not found!"
            exit 1
          fi

      # Optionnel : Sauvegarder les modèles entraînés comme artefacts GitHub
      - name: Upload Trained Models
        uses: actions/upload-artifact@v4
        with:
          name: tep-models
          path: data/models/
